body {
  background: url('http://motoki-y.sakura.ne.jp/kabegami/070/a.gif') no-repeat;
  background-size: cover;
  color: black;
}

h1 {
  color: black;
  font-size: 145px;
  text-align: center;
}

a:hover{
  text-decoration: none;
}

#registerLink, #loginLink {
  display: none;
}

.navIcon {
  height: 80px;
  width: 280px;
  margin-top: 80px;
  background-color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid black;
}


.navIcon:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: #ffeb99;
}
