body {
  background: url('http://motoki-y.sakura.ne.jp/kabegami/070/a.gif') no-repeat;
  background-size: cover;
  color: black;
}

h1 {
  color: black;
  font-size: 145px;
  text-align: center;
}

#registerLink, #loginLink {
  display: none;
}

.navIcon {
  height: 120px;
  width: 280px;
  margin-top: 80px;
  background-color: white;
  font-size: 30px;
  text-align: center;=
}

.imageIcon {
  height: 80px;
}
